<div class="cards critical-clear medium-up--one-third card-list__column grid__item" data-animate>
  <a href="{{ article.url }}" class="card__wrapper card--article">
    {% if article.image %}
      {% assign article_image = article.image %}
    {% else %}
      {% assign article_image = article.products.first %}
    {% endif %}

    {% if article_image != blank %}
      {% include 'sa-article-card-image', type: article_image, grid_style: grid_style %}
    {% endif %}

    <div class="card__info">
      <h1 class="card__name">{{ article.tags }}</h1>
      <hr class="underline">
      <h3 class="card__name">{{ article.title }}</h3>
    </div>

  </a>
</div>