<div class="cards critical-clear" data-animate>
  <a href="{{ article.url }}" class="card__wrapper card--article">
    {% if article.image %}
      {% assign article_image = article.image %}
    {% else %}
      {% assign article_image = article.products.first %}
    {% endif %}

    {% if article_image != blank %}
      {% comment %}{% include 'sa-card-image-last', type: article_image, grid_style: grid_style %}{% endcomment %}
      <div class="card__image-wrapper">
         <img src="{{article.image | img_url: 'large' }}" alt="{{ type.alt | escape }}" class="card__image">
      </div>
     
    {% endif %}

  </a>
</div>