<div class="rich-text rich-text--{{ block.id }}">
  <div class="grid page-width">
    <div class="grid__item text-center{% unless block.settings.full_width %} medium-up--two-thirds medium-up--push-one-sixth{% endunless %}">
      {% if block.settings.section_title != blank %}
        <h2 class="rich-text__heading separator
                   {% if block.settings.text_size == 'large' %} h1{% elsif block.settings.text_size == 'small' %} h3{% endif %}"
                   data-animate>
          {{ block.settings.section_title | escape }}
        </h2>
      {% endif %}

      {% if block.settings.text != blank %}
      <div class="rich-text__body-text rich-text__body-text--{{ block.settings.text_size }} rte-setting">
        {{ block.settings.text }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
