<div class="page-width">
  <header class="section-header text-center">
    <h1 class="section-header__title h2">{{ page.title }}</h1>
    
    <style>
      #mailmunch-optin-form{
      	background-color: transparent !important;
        border: none !important;
      }
    </style>
  </header>
  
  <script 
          type="text/javascript" 
          src="https://cdn.shopify.com/s/files/1/0013/1566/8028/t/26/assets/recommendation-v1.js" 
          defer="defer">
  </script>

  
  <div class="grid container-fluid text-center align-middle">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte" >
        <div class="has-animated">
          {{ page.content }}
        </div>
        
        <div style="margin-top: 50px">
          <div class="featured-collection__heading grid text-center" style="margin-bottom: 5px;">
            <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth ">
              <h2 class="" data-animate="">Save your results:</h2>
            </div>
          </div>

          <!-- mailchimp email by mailmunch forms -->
<!--           <div class="mailmunch-forms-widget-798904" style=""></div> -->

          <script src="https://www.powr.io/powr.js?platform=shopify"></script>
          <div class="powr-form-builder" id="30b70daf_1564057699"></div>
            
          
          </div>
        </div>
    
      </div>
    </div>

  
  <!-- Your Recommended Products: -->
  <div style="margin-top: 50px">
          
    <div class="featured-collection__heading grid text-center">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth ">
        <h2 class="feature-row__heading separator has-animated" data-animate="">Your Recommended Products:</h2>
      </div>
    </div>
<!-- 
    <div class="collection-feature-image">
      <img class="fcimg" src="//cdn2.shopify.com/s/files/1/0013/1566/8028/files/product_collection_slate_PS.jpg?v=1527255263" alt="">
    </div>

    <div class="featured-collection__view-all">
      <a href="/products/slow-ageing-set" class="btn" style="color: #ffffff">BUY THE COLLECTION</a>
    </div> -->

  </div>
  
  <!-- products image and add-to-card button -->
  <div style="margin-top: 100px;">  
	<div id='collection-component-768951244ee'></div>
    	<script type="text/javascript">
    /*<![CDATA[*/

    (function () {
      var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
      if (window.ShopifyBuy) {
        if (window.ShopifyBuy.UI) {
          ShopifyBuyInit();
        } else {
          loadScript();
        }
      } else {
        loadScript();
      }

      function loadScript() {
        var script = document.createElement('script');
        script.async = true;
        script.src = scriptURL;
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
        script.onload = ShopifyBuyInit;
      }

      function ShopifyBuyInit() {
        var client = ShopifyBuy.buildClient({
          domain: 'slowageing.myshopify.com',
          storefrontAccessToken: '47b38c42ad01d4c5f1bfbb7bd1e82782',
        });

        ShopifyBuy.UI.onReady(client).then(function (ui) {
          ui.createComponent('collection', {
            id: 136378744892,
            node: document.getElementById('collection-component-768951244ee'),
            moneyFormat: '%C2%A3%7B%7Bamount%7D%7D',
            options: {
  "product": {
    "variantId": "all",
    "contents": {
      "imgWithCarousel": false,
      "variantTitle": false,
      "description": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#f5a700",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        "padding-left": "20px",
        "padding-right": "20px",
        ":hover": {
          "background-color": "#dd9600"
        },
        "border-radius": "0px",
        ":focus": {
          "background-color": "#dd9600"
        }
      },
      "title": {
        "font-size": "14px",
        "color": "#2a5b6c"
      },
      "price": {
        "color": "#2a5b6c"
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      },
      "compareAt": {
        "color": "#2a5b6c"
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "popup":false,
    "styles": {
      "button": {
        "background-color": "#f5a700",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        ":hover": {
          "background-color": "#dd9600"
        },
        "border-radius": "0px",
        ":focus": {
          "background-color": "#dd9600"
        }
      },
      "title": {
        "color": "#2a5b6c"
      },
      "footer": {
        "background-color": "#ffffff"
      },
      "header": {
        "color": "#2a5b6c"
      },
      "lineItems": {
        "color": "#2a5b6c"
      },
      "subtotalText": {
        "color": "#2a5b6c"
      },
      "subtotal": {
        "color": "#2a5b6c"
      },
      "notice": {
        "color": "#2a5b6c"
      },
      "currency": {
        "color": "#2a5b6c"
      },
      "close": {
        ":hover": {
          "color": "#2a5b6c"
        },
        "color": "#2a5b6c"
      },
      "emptyCart": {
        "color": "#2a5b6c"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#f5a700",
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px",
        "padding-left": "20px",
        "padding-right": "20px",
        ":hover": {
          "background-color": "#dd9600"
        },
        "border-radius": "0px",
        ":focus": {
          "background-color": "#dd9600"
        }
      },
      "quantityInput": {
        "font-size": "14px",
        "padding-top": "15px",
        "padding-bottom": "15px"
      }
    }
  },
  "toggle": {
    "styles": {
      "toggle": {
        "background-color": "#f5a700",
        ":hover": {
          "background-color": "#dd9600"
        },
        ":focus": {
          "background-color": "#dd9600"
        }
      },
      "count": {
        "font-size": "14px"
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#2a5b6c"
      },
      "title": {
        "color": "#2a5b6c"
      },
      "price": {
        "color": "#2a5b6c"
      },
      "quantity": {
        "color": "#2a5b6c"
      },
      "quantityIncrement": {
        "color": "#2a5b6c",
        "border-color": "#2a5b6c"
      },
      "quantityDecrement": {
        "color": "#2a5b6c",
        "border-color": "#2a5b6c"
      },
      "quantityInput": {
        "color": "#2a5b6c",
        "border-color": "#2a5b6c"
      }
    }
  }
}
          });
        });
      }
    })();
    /*]]>*/
    </script>
  
  </div>
</div>


<!-- <script>
  setTimeout(()=>{
    var x = document.getElementsByClassName("branding-container");
  if (x){
    x.style.display = "none !important";
  }
             },30000);
</script> -->

<!-- send email -->
<script>
  var emailResult = document.getElementById("showResult").innerHTML;
  setTimeout(function(){ 
     // get reference to window inside the iframe
	var wn = document.getElementsByTagName('iframe')[0].contentWindow;
	// postMessage arguments: data to send, target origin
    wn.postMessage('slowageing:'+emailResult, 'https://www.powr.io');
  }, 3000);
</script>

