<div class="page-about">
  <style>
    .hero.hero--ab-hero-2 .hero__inner .page-width,
    .hero.hero--ab-hero-3 .hero__inner .page-width,
    .hero.hero--ab-hero-4 .hero__inner .page-width,
    .hero.hero--ab-hero-5 .hero__inner .page-width {
      text-align: left!important;
      padding: 0 70px;
    }
    .hero.hero--ab-hero-2 .hero__inner .mega-subtitle,
    .hero.hero--ab-hero-3 .hero__inner .mega-subtitle,
    .hero.hero--ab-hero-4 .hero__inner .mega-subtitle,
    .hero.hero--ab-hero-5 .hero__inner .mega-subtitle {
      text-align: left!important;
      float: left!important;
      clear: both;
      margin: 0;
      max-width: 100%;
    }
    .hero.hero--ab-hero-4 .hero__inner .hero__overlay-title::after {
      background-color: #ffffff;
    }
    @media only screen and (max-width: 980px) {
      .hero.hero--ab-hero-2 .hero__inner .page-width,
      .hero.hero--ab-hero-3 .hero__inner .page-width,
      .hero.hero--ab-hero-4 .hero__inner .page-width,
      .hero.hero--ab-hero-5 .hero__inner .page-width {
        padding:0 30px;
      }
    }
  </style>
  {% section 'ab-gallery-1' %}
  {% section 'ab-feature-row-1' %}
  {% section 'ab-hero-3' %}
  {% section 'ab-gallery-2' %}
  {% section 'ab-hero-5' %}
  {% section 'ab-gallery-3' %}
  {% section 'ab-feature-row-2' %}
  {% section 'ab-custom-content-1' %}
  {% section 'ab-featured-collection-1' %}

  {% comment %}
  {% section 'ab-feature-row-3' %}


  {% section 'ab-custom-content-2' %}
  {% section 'ab-custom-content-3' %}
  {% section 'ab-custom-content-4' %}
  {% section 'ab-custom-content-5' %}
  {% section 'ab-custom-content-6' %}
  {% section 'ab-quotes-1' %}
  {% section 'ab-quotes-2' %}
  {% section 'ab-quotes-3' %}
  {% section 'ab-quotes-4' %}
  {% section 'ab-rich-text-1' %}
  {% section 'ab-rich-text-2' %}
  {% section 'ab-rich-text-3' %}
  {% section 'ab-rich-text-4' %}
  {% section 'ab-slideshow-1' %}
  {% section 'ab-hero-1' %}
  {% section 'ab-custom-content-7' %}
  {% section 'ab-hero-4' %}
  {% section 'ab-gallery-4' %}
  {% section 'ab-hero-2' %}

  {% section 'ab-highlight-1' %}
  {% section 'ab-highlight-2' %}
  {% section 'ab-highlight-3' %}
  {% section 'ab-highlight-4' %}{% endcomment %}
</div>